@model IEnumerable<string>


<div class="d-flex justify-content-between">
    <a class="btn btn-block btn-outline-secondary " asp-action="Index"
       asp-controller="Home" asp-route-category="">Home</a>
    @foreach (string category in Model)
    {
        <a class="btn btn-block  @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary") "
           asp-action="Index"
           asp-controller="Home" asp-route-category="@category"
           asp-route-page="1">@category</a>
    }
</div>
